/*
    ====== ICON FONT STYLE ======
*/

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?yny11o');
  src:url('../fonts/icomoon.eot?#iefixyny11o') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?yny11o') format('truetype'),
    url('../fonts/icomoon.woff?yny11o') format('woff'),
    url('../fonts/icomoon.svg?yny11o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.5;
  margin-right: 0.5rem;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-folder:before {
  content: "\e600";
}
.icon-twitter:before {
  content: "\e601";
}
.icon-heart:before {
  content: "\e602";
}
.icon-bulb:before {
  content: "\e603";
}
.icon-mail:before {
  content: "\e604";
}


.icon-heart {
  font-size: 0.8em;
  color: #d75252;
}

.icon-bulb {
  color: #f1ece8;
}

.icon-mail {
  vertical-align: middle;
}

/* 
    ====== BASE STYLES ======
*/

::-moz-selection {
  background: #ffafa9;
  color: #f1ece8;
}

::selection {
  background: #ffafa9;
  color: #f1ece8;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #f3b9b5;
  color: #f1ece8;
  height: 100%;
/*    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
}

.wrapper {
  position: relative;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

kbd {
  padding: 0.5em ;
  text-transform: uppercase;
  color: #f1ece8;
  background: rgba(39, 39, 39, .7);
}
/*
    ====== TYPOGRAPHY ======
*/

q {
  quotes: "“" "”" "‘" "’";
}

q:before {
  content: open-quote;
}

q:after {
  content: close-quote;
}
/*
    ====== NO-SCRIPT ======
*/

.no-script {
  position: absolute;
  z-index: 1000;
  margin: 0;
  padding: 1rem;
  width: 100%;
  background: rgba(39, 39, 39, .9);
  font-size: 1.2rem;
  font-family: 'Courier New', Courier;
  color: #f1ece8;
  text-align: center;
}

.no-script a {
  padding: 0.25em;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: #f3b9b5;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.no-script a:hover {
  background: #f3b9b5;
  color: rgb(39, 39, 39);
}
/* 
    ====== ALERT MODAL ======
*/

.alert {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 900;
  background: rgba(56, 56, 58, .9);
  font-family: 'Josefin Sans', sans-serif;
}

.message-wrap {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/*
    --- CLOSE BUTTON ---
  */

.close {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2rem;
  padding: 0.5em;
  text-align: right;
}

.close::before,
.close::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -40%;
  margin-left: 2rem;
  height: 2px;
  width: 1.5rem;
  background: rgba(39, 39, 39, 1);
}

.close::before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.close::after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close a {
  margin-right: 0.15em;
  text-decoration: none;
  color: rgba(39, 39, 39, 1);
}
/*  
      --- MESSAGE ---
    */

.message {
  position: relative;
  margin: 0 auto;
  padding: 1.5rem 1rem;
  background: #f1ece8;
  max-width: 640px;
  width: 90%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-size: 1.2rem;
}

.message p:first-of-type {
  margin-top: 2rem;
  line-height: 1.5;
  color: rgba(56, 56, 58, 1);
  text-align: center;
}

.message p {
  max-width: 90%;
}
/* 
    ====== SITE HEADER ======
*/

.site-header {
  /*  padding: 1.5rem;
*/
  
  background: #f1ece8;
  color: rgb(39, 39, 39);
  line-height: 1.3;
}

.site-header h1 {
  position: relative;
  z-index: 50;
  margin: 0;
  padding: .5em;
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
}

.site-header h1 > span {
  display: block;
  font-weight: 600;
}
/* 
    ====== MAIN CONTENT ======
*/

.triangle {
  position: absolute;
  right: 0;
  z-index: 10;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 30vmin 0 0 30vmin;
  /*og 50vmin*/
  
  border-color: #f3b9b5 transparent transparent transparent;
}

.main-content {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /*  height: 95vh;
*/
  
  width: 100%;
  background: url('../img/content-back.png'), rgb(39, 39, 39);
  background-attachment: fixed;
}

.aligner {
  position: relative;
  margin: auto;
  height: 100%;
  max-width: 1024px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: transparent;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.lyric--box {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: space-around;
  -webkit-align-items: space-around;
  -ms-flex-align: space-around;
  align-items: space-around;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto 2rem;
  height: 23rem;
  width: 18rem;
  background: url('../img/cassi-bg.jpg') no-repeat center / cover;
  font-family: 'Cardo', serif;
  font-size: 1.15rem;
  line-height: 1.5;
  border-radius: 50%;
  box-shadow: 0 0 0 0.1875rem currentColor, 0 0 0 0.25rem black, 0 0 0 0.625rem currentColor;
}

.lyric--box::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: inherit;
  background: rgba(56, 56, 58, 0.8);
}

.lyric--inner {
  position: relative;
  z-index: 40;
  height: auto;
  background: transparent;
}

cite {
  display: block;
  margin-right: 12.5%;
  margin-top: 1.5rem;
  text-align: right;
}

.row {
  position: relative;
  margin: 1rem 0 2rem;
  width: 75%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: 'Josefin Sans', sans-serif;

}

.info {
  display: none;
}

button {
  position: relative;
  z-index: 12;
  display: inline-block;
  margin-bottom: 1em;
  padding: 0.5rem 1rem;
  max-width: 11rem;
  background: transparent;
  font-size: 1rem;
  letter-spacing: 1px;
  color: currentColor;
  text-transform: uppercase;
  border: none; 
  border-bottom: solid 0.25rem #f3b9b5;
  outline: none;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

button::before {
  content: '';
  position: absolute;
  z-index:  -1;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background: #ffafa9;
    -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;

}

button:hover::before,
button:focus::before {
  width: 100%;
}

button:hover,
button:focus {
  color: rgb(35, 35, 35);
  border-color: #ffafa9;
  box-shadow: 0 1px 0.0125 rgba(0, 0, 0, 0.2);
}

/*  
      --- CONSTELLATIONS ---
  */

.capricorn,
.ursa-maj,
.ursa-min {
  position: absolute;
  z-index: 25;
  opacity: 0.4;
  -webkit-transition: -webkit-transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
          transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.capricorn {
  top: 1.5rem;
  right: 1rem;
  display: none;
  max-width: 40%;
}

.ursa-maj {
  bottom: -3%;
}

.ursa-min {
  right: -10%;
  bottom: 65%;
}

.ursa-maj,
.ursa-min {
    max-width: 70%;
}

.capricorn:hover,
.ursa-maj:hover,
.ursa-min:hover {
  opacity: 0.8;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.ursa-maj:hover,
.ursa-min:hover {
    z-index: 35;
}

/* 
    ====== SITE FOOTER ======
*/

.site-footer {
  padding: 0.25em;
  background: #f3b9b5;
}

.footer-text {
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 1px;
  font-size: 0.8rem;
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(39, 39, 39);
  text-align: center;
}

.footer-text p:first-of-type {
  margin-bottom: 0.3em;
}

.footer-text p + p {
  margin-top: 0;
}

.footer-text a {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  padding: 0 0.35em;
  min-height: 2rem;
  background: #f1ece8;
  line-height: 2rem;
  color: rgb(39, 39, 39);
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer-text a:nth-child(even) {
  margin-left: 1rem;
}

.footer-text a:nth-child(even)::before {
  content: "";
  position: absolute;
  left: -0.75rem;
  width: 1px;
  height: 2rem;
  background: rgba(56, 56, 58, .9);
}

.footer-text a:hover,
.footer-text a:focus {
  background: rgb(39, 39, 39);
  color: #f1ece8;
  outline: none;
}

/* 
    ====== MEDIA QUERIES ======
*/


@media (min-width: 46rem) and (min-height: 37.5rem) {
  .close {
    margin-top: 0.5em;
  }
  .close::before,
  .close::after {
    width: 2rem;
  }
  h1 span {
    display: inline;
  }
  .message {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .triangle {
    opacity: 0.9;
    left: 0;
    border-width: 0 0 40vmin 40vmin;
    border-color: transparent transparent transparent #f3b9b5;
  }
  .site-header {
    position: relative;
    z-index: 900;
  }
  .site-header h1 {
    margin-left: 1rem;
    font-size: 1.8rem;
  }
  .aligner {
    height: 100vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .main-content {
    padding: 0;
    height: auto;
  }
  .lyric--box {
    z-index: 14;
    margin: 0; 
    padding: 0 1em;
    height: 34rem;
    width: 26.5rem;
    font-size: 1.4rem;
  }
  cite {
    margin-right: 5%;
  }
  .row {
    width: 30%;
    order: -1;
    flex-direction: column;
    justify-content: space-around
    ;
    align-items: stretch;
  }

  .info {
    position: absolute;
    top: 0.5rem;
    left: 11.25rem;
    display: block;
    opacity: 0.9;
    cursor: pointer;
  }

  .info:hover .tooltip {
    opacity: 0.9;
    visibility: visible;
  }

  title, .tooltip {
    position: absolute;
    bottom: -6rem;
    left: 0;
    z-index: 50;
    margin-left: .25rem;
    padding: 0.5rem;
    width: 15rem;
    background: #f3b9b5;
    color: rgb(35, 35, 35);
    border-radius: 0.2em;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }
  
  .tooltip {
    line-height: 2;
  }

  .tooltip::before {
    content: "";
    position: absolute;
    left: 15px;
    top: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f3b9b5;
  }

  button {
    min-height: 3rem;
    min-width: 5rem;
    font-size: 1.2rem;
  }
  .next {
    margin-bottom: 2em;
  }
  .ursa-maj {
    bottom: 1%;
    left: 3%;
  }
  .ursa-min {
    right: 5rem;
    top: 15%;
  }
  .ursa-maj,
  .ursa-min {
    max-width: 100%;
  }
  .footer-text {
    font-size: 1rem;
  }
  .capricorn, .ursa-maj, .ursa-min {
    z-index: 1;
  }
  .capricorn {
  display: block;
  }
  .ursa-min {
    left: 15%;
  }
}

@media (min-width: 1000px) {
  .ursa-maj  {
        bottom: 5%;

  }
}

/*
  --- Targets desktop screens when content is not tall enough ---
*/

@media (min-height: 1000px) and (min-width: 1600px), (min-height: 700px) and (orientation: portrait) {
  .main-content {
    min-height: 90vh;
  }
  .aligner {
    height: 90vh;
  }

}
/*
  --- Targets tablets like the Kindle Fire ---
*/

@media (min-height: 1600px) {
  html {
    font-size: 160%;
  }
  .aligner {
    max-width: 1300px;
    justify-content: space-between;
  } 
  .capricorn,
  .ursa-maj,
  .ursa-min {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
  .capricorn:hover,
  .ursa-maj:hover,
  .ursa-min:hover {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
  }
}